{% extends "layout.html" %}
{% block body %}
	{{ super() }}
  <p>
    Voici 3 cartes. <br>
    Derrière l'une d'elle se trouve une voiture. <br>
    Derrière chacune des deux autres se trouve une chèvre.
  </p>
  <p id="hint" class="d-none">
    Ok, maintenant je vais t'aider : la voiture n'est pas derrière la carte #<strong></strong><br>
    Tu as le choix entre <em>garder</em> ton premier choix ou <em>changer</em> pour l'autre carte restante.
  </p>
  <p class="lead">
    Trouve la voiture !
  </p>

	<div class="row">
		{% for i in range(1, 4) %}
		<div class="col-sm-4">
			<div id="card-{{ i }}" class="card">
				<div class="card-body">
					<p class="card-text"></p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>

	<a href="/reset" id="reset" class="d-none btn btn-lg btn-primary mt-4" role="button">Rejouer</a>

	<div id="results" class="d-none">
		<h1 class="mb-4"></h1>
		<h2>Pile ou Face ?</h2>
		<p class="text-justify">
		Au premier regard on peut penser que ce jeu ne relève que du <strong>pur hasard</strong>. Intuitivement, on se dit que ce qui s'est passé avant le choix final n'a pas d'importance : au moment de faire son dernier choix, il y a 2 portes et on me demande de choisir l'une d'entre elles. J'ai donc <strong>1 chance sur 2</strong> de tomber sur la voiture, et autant de chance de tomber sur une chèvre. Il n'y a alors pas de stratégie à adopter, c'est du <strong>pile ou face</strong>. <br>
		Mais manifestement <strong>ce n'est pas le cas</strong>. En effet, <em>garder</em> son premier choix revient à dire qu'on a eu raison dès le début du jeu, au moment où il y avait encore 3 cartes, et à ce moment là on avait bien seulement <strong>1 chance sur 3</strong> de tomber directement sur la carte qui cache la voiture. Ce qui veut également dire qu'on avait <strong>2 chances sur 3</strong> de se tromper à ce moment là. Or si à la place de conserver son premier choix, on choisit de <em>changer</em> d'avis, on mise alors sur cette seconde possibilité. Virtuellement, c'est comme si on choisissait <strong>2 cartes en même temps</strong> : celle qui nous a été révélée et celle qui reste. On <em>double</em> nos chances de trouver la voiture et d'éviter de tomber sur une chèvre. Il est donc systématiquement plus intéressant de changer d'avis et de ne pas conserver son premier choix.
		</p>
		<p>
		Toujours pas convaincu par mes explications ? <a title="Problème de Monty Hall sur Wikipédia" href="https://fr.wikipedia.org/wiki/Probl%C3%A8me_de_Monty_Hall">Ceci</a> devrait finir par te convaincre.
		</p>
		<h2>Un peu de statistiques...</h2>
		<div class="row">
			<div class="col-sm-6">
				<h3 class="mb-4">Réussite si on <strong>garde</strong> son premier choix</h3>
				<div id='chart-keep' class='chart-container chart-pie-container'></div>
				<p class="mt-4">
				Parmi les personnes qui ont décidé de <strong>garder</strong> leur premier choix, <strong id="nb-keep-success" class="text-success"></strong> (<strong id="per-keep-success" class="text-success"></strong>%) ont gagné, contre <strong id="nb-keep-failure" class="text-danger"></strong> (<strong id="per-keep-failure" class="text-danger"></strong>%) qui ont perdu.
				</p>
			</div>
			<div class="col-sm-6">
				<h3 class="mb-4">Réussite si on <strong>change</strong> son premier choix</h3>
				<div id='chart-change' class='chart-container chart-pie-container'></div>
				<p class="mt-4">
				Parmi les personnes qui ont décidé de <strong>changer</strong> leur premier choix, <strong id="nb-change-success" class="text-success"></strong> (<strong id="per-change-success" class="text-success"></strong>%) ont gagné, contre <strong id="nb-change-failure" class="text-danger"></strong> (<strong id="per-change-failure" class="text-danger"></strong>%) qui ont perdu.
				</p>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-sm-6">
				<h3 class="mb-4">Réussite globale</h3>
				<div id='chart-global' class='chart-container chart-pie-container'></div>
				<p class="mt-4">
				Globalement, parmi toutes les personnes qui ont joué, <strong id="nb-global-success" class="text-success"></strong> (<strong id="per-global-success" class="text-success"></strong>%) ont gagné, contre <strong id="nb-global-failure" class="text-danger"></strong> (<strong id="per-global-failure" class="text-danger"></strong>%) qui ont perdu.
				</p>
			</div>
			<div class="col-sm-6">
				<h3 class="mb-4">Répartition des choix</h3>
				<div id='chart-choice' class='chart-container chart-pie-container'></div>
				<p class="mt-4">
				Globalement, parmi toutes les personnes qui ont joué, <strong id="nb-choice-keep" class="text-info"></strong> (<strong id="per-choice-keep" class="text-info"></strong>%) ont décidé de garder leur premier choix, contre <strong id="nb-choice-change" class="text-warning"></strong> (<strong id="per-choice-change" class="text-warning"></strong>%) qui ont décidé de changer leur premier choix.
				</p>
			</div>
		</div>
		{% endblock %}
