<!doctype html>
<html>
  <head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
		<script src="https://d3js.org/d3.v5.min.js"></script>
		<title>Le paradoxe de Monty Hall</title>
  </head>
  <body>
		<div class="container">
		{% block body %}
			<h1>Le paradoxe de Monty Hall</h1>
		{% endblock body %}
		</div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
