body{
	text-align: center;
}

.card{
	font-size: 5rem;
	padding: 1rem;
	background-color: #f8f9fa;
}

.card .card-text::before{
	content: '❓';
}

.card.selected{
	background-color: #0d6efd;
}

.card.correct{
	background-color: #198754;
}

.card.correct .card-text::before{
	content: '🚗';
}

.card.error{
	background-color: #dc3545;
}

.card.error .card-text::before{
	content: '🐐';
}

.card.dismissed{
	opacity: 0.3;
}

.card.dismissed .card-text::before{
	content: '🐐';
}

.chart-pie-container svg path{
	stroke: black;
	stroke-width: 2px;
	opacity: 0.7;
}
